<nav class="navbar fixed-bottom bg-{{mode}} fixed-bottom" style="height: 1.5rem;">
    <h6 style="font-size: 70%;;margin-left: 0.5rem">
        <a href="/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
            TaskBoard v1.0
        </a>
    </h6>
   
    <h6 style="font-size: 70%;margin-right: 0.5rem">
        <a href="https://github.com/vsharma2430" target="_blank" rel="noopener noreferrer" style="margin-left: 2px;"
            class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
        Vaibhav Sharma.
        </a> 
        <a href="https://github.com/vsharma2430/" target="_blank" rel="noopener noreferrer"
            class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
            &#9400; Github
        </a>
    </h6>
</nav>