<form class="p-1 wrap" style="margin:1%;margin-top:3.5%;width: 98%;word-break: break-all;">
    <textarea id="diary_textarea" class="form-control form-control-sm m-1 p-1" rows="35" type="text" placeholder="Diary Bullets" style="margin: 0.1Rem;width: 100%;height: 75%;word-wrap:normal;">{{data}}</textarea>  

    <input class="form-control m-1 p-1" type="password" name="mypass" id="password" placeholder="Password">

    <div class="d-grid m-1 p-1 justify-content-md-center">
        <button class="form-control" type="button" id="btnClick" class="btn btn-secondary center" >Save</button>
    </div>
</form>

<script>

$(document).on('click', '#btnClick', function(){ 
    $.ajax({
    url: 'http://wks-00105.eil.co.in:8007/diary/update/',
    crossDomain: true,
    method: 'post',
    headers: {'accept': 'application/json'},
    contentType: 'application/json',
    data: JSON.stringify({'data': $('textarea#diary_textarea').val() , 'password':$('input#password').val()})
    }).done(function(response) {console.log(response);}).fail(function(response) {alert(response);})
    });
   //$(location).prop('href', url);
   //$('textarea#diary_textarea').val()

</script>

