<div class="card opacity-{{event.opacity}} {{event.card_class}}" style="margin: 1rem;min-width:31%;">
    <div class="card-body">
        {% with title=event.title,job=event.job %}
            {% include "card_title.html" %}
        {% endwith %}

        {% with description=event.description %}
            {% include "data_box.html" %}
        {% endwith %}

        {% if event.link %}
            <a href="{{event.link}}" class="card-link">Link</a>
        {% endif %}
      
    </div>

    <div class="d-flex justify-content-between card-footer">
        <div class="text-start">
            {{event.start_date}} 
            {% if event.start_date != event.end_date %}
                to {{event.end_date}}
            {% endif %} 
        </div>

        <div class="text-end opacity-50" style="margin-left: 2%;">
            
            {% if event.lag_days!=0 %}
                {{event.lag_days}} days
            {% endif %}
            
            {% if event.lag_hours!=0 %}
                {{event.lag_hours}} hours
            {% endif %}
        </div>
    </div>
</div>