<div class="card" style="margin:1%;margin-top:3.5%;">

    <div class="card-header display-6" style="font-size: 1.5rem;">
        <span class="opacity-75">Basic Objects</span>
    </div>

    <div class="card" style="margin:1%;">

        <div class="card-header">
            <span class="opacity-75">Note</span>
        </div>
    
        <div class="card-body">
            <p style="font-family: monospace;">
                <code>
                    job code(4 digits),job description (optional) && main topic 1 , point 11 , point 12 , ... && main topic 2 , point 21 , point 22 ... && [link name 1 -> link address 1 ] && [link name 2 -> link address 2 ] ...
                </code>
            </p>
        </div>
    </div>

    <div class="card" style="margin:1%;">

        <div class="card-header" >
            <span class="opacity-75">Task</span>
        </div>
    
        <div class="card-body">
            <p style="font-family: monospace;">
                <code>
                    <strong style="color: rgb(80, 200, 0);">yyyy-mm-dd hh:mm:ss</strong> | job code(4 digits),job description (optional) && main topic 1 , point 11 , point 12 , ... && main topic 2 , point 21 , point 22 ... && [link name 1 -> link address 1 ] && [link name 2 -> link address 2 ] ...
                </code>
            </p>
        </div>
    </div>

    <div class="card" style="margin:1%;">

        <div class="card-header" >
            <span class="opacity-75">Task (Complete)</span>
        </div>
    
        <div class="card-body">
            <p style="font-family: monospace;">
                <code>
                    <strong style="color: rgb(80, 200, 0);">yyyy-mm-dd hh:mm:ss</strong> | job code(4 digits),job description (optional) && main topic 1 , point 11 , point 12 , ... && main topic 2 , point 21 , point 22 ... && [link name 1 -> link address 1 ] && [link name 2 -> link address 2 ] ... | <strong style="color: rgb(80, 200, 0);">done</strong> 
                </code>
            </p>
        </div>
    </div>


    <div class="card" style="margin:1%;">

        <div class="card-header" >
            <span class="opacity-75">Event</span>
        </div>
    
        <div class="card-body" style="font-family: monospace;">
            <code>
                <strong style="color: rgb(80, 200, 0);">yyyy-mm-dd hh:mm:ss to yyyy-mm-dd hh:mm:ss</strong> | job code(4 digits),job description (optional) && main topic 1 , point 11 , point 12 , ... && main topic 2 , point 21 , point 22 ... && [link name 1 -> link address 1 ] && [link name 2 -> link address 2 ] ...
            </code>
        </div>
    </div>

</div>

<div class="card" style="margin:1%;">

    <div class="card-header display-6" style="font-size: 1.5rem;">
        <span class="opacity-75">Advanced Objects</span>
    </div>

    <div class="card" style="margin:1%;">

        <div class="card-header" >
            <span class="opacity-75">Strike out</span>
        </div>
    
        <div class="card-body" style="font-family: monospace;">
            <code>
                &lt;s&gt; data &lt;/s&gt;
            </code>
        </div>
    </div>

    <div class="card" style="margin:1%;">

        <div class="card-header" >
            <span class="opacity-75">Link</span>
        </div>
    
        <div class="card-body" style="font-family: monospace;">
            <code>
                [link name -> "link address"]
            </code>
            or
            <code>
                [link name -> link address]
            </code>
        </div>
    </div>


</div>