<!DOCTYPE html>
<html data-bs-theme="{{mode}}">
    <head>
        {% include 'title.html' %}
        {% include 'cdn_static.html' %}
        <meta http-equiv="refresh" content="600">
    </head>

    <body style="font-family:Fira Sans;">

        {% include 'top_navbar.html' %}

        <div class="d-flex" style="margin: 1%; margin-top: 4%;" >

          {% if tasks %}
          <div class="card p-1" style="margin: 1%; {% if diary_context == 1 %} width: 98%; {% else %} width: 48%; {% endif %}">
            <p class="display-6" style="margin: 1%;">TASKS</p>

            <div class="d-flex flex-wrap justify-content-start" style="display:flex; flex-direction: row;" style="margin: 1%; width: 48%;">

              {% for task in tasks %}
                {% with task=task %}
                  {% include 'task_box.html' %}
                {% endwith %}
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if notes %}
          <div class="card p-1" style="margin: 1%; {% if diary_context == 2 %} width: 98%; {% else %} width: 24%; {% endif %}">
            <p class="display-6" style="margin: 1%;">NOTES</p>
            {% for note in notes %}
              {% include 'note_box.html' %}
            {% endfor %}
          </div>
          {% endif %}

          {% if events %}
          <div class="card p-1" style="margin: 1%; {% if diary_context == 2 %} width: 98%; {% else %} width: 24%; {% endif %}">
            <p class="display-6" style="margin: 1%;">MEETINGS</p>
            {% for event in events %}
              {% include 'event_box.html' %}
            {% endfor %}
          </div>

          {% endif %}

        </div>

        <figure class="text-center">
            <blockquote class="blockquote">
              <p>“The single biggest problem in communication is the illusion that it has taken place.”</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              <cite title="Source Title">George Bernard Shaw</cite>
            </figcaption>
        </figure>

        <figure class="text-center" style="margin-bottom: 2%;">
          <blockquote class="blockquote">
            <p>“Blessed is the man, who having nothing to say, abstains from giving wordy evidence of the fact.”</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            <cite title="Source Title">George Eliot</cite>
          </figcaption>
      </figure>

      {% include 'bottom_bar.html' %}

      <script>
        $('.copy_text').click(function (e) {
          e.preventDefault();
          var copyText = $(this).attr('href');

          document.addEventListener('copy', function(e) {
              e.clipboardData.setData('text/plain', copyText);
              e.preventDefault();
          }, true);

          document.execCommand('copy');  
          console.log('link copied : ', copyText);
          alert('link copied : ' + copyText); 
        });

      </script>
    </body>
</html>