<!DOCTYPE html>
<html data-bs-theme="{{mode}}">
    <head>
        {% include 'title.html' %}
        {% include 'cdn_static.html' %}
        <meta http-equiv="refresh" content="600">
    </head>

    <body style="font-family:Fira Sans;">

        {% include 'top_navbar.html' %}

        <div class="d-flex" style="margin: 1rem; margin-top: 3rem;" >

          {% if tasks %}
          <div class="card p-1" style="margin: 1%; {% if diary_context == 1 %} width: 98%; {% else %} width: 48%; {% endif %}">
            <p class="display-6" style="margin: 1%;">TASKS <sup class="opacity-50">{{tasks|length}}</sup></p>

            <div class="d-flex flex-wrap justify-content-start" style="display:flex; flex-direction: row;" style="margin: 1%; width: 48%;">

              {% for task in tasks %}
                {% with task=task %}
                  {% include 'task_box.html' %}
                {% endwith %}
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if notes %}
          <div class="card p-1" style="margin: 1%; {% if diary_context == 3 %} width: 98%; {% else %} width: 24%; {% endif %}">
            <p class="display-6" style="margin: 1%;">NOTES <sup class="opacity-50">{{notes|length}}</sup></p>
            {% for note in notes %}
              {% include 'note_box.html' %}
            {% endfor %}
          </div>
          {% endif %}

          {% if events %}
          <div class="card p-1" style="margin: 1%; {% if diary_context == 2 %} width: 98%; {% else %} width: 24%; {% endif %}">
            <p class="display-6" style="margin: 1%;">MEETINGS <sup class="opacity-50">{{events|length}}</sup></p>
            {% for event in events %}
              {% include 'event_box.html' %}
            {% endfor %}
          </div>

          {% endif %}

        </div>

      {% include 'quote_template.html' %}

      {% include 'bottom_bar.html' %}
      
      {% include 'copy_script.js' %}
      
      {% include 'search_script.js' %}

    </body>
</html>