<div class="card opacity-{{note.opacity}}" style="margin: 1rem;min-width:15rem;">
    <div class="card-body">
        {% with title=note.title,job=note.job %}
            {% include "card_title.html" %}
        {% endwith %}
    
        {% with description=note.description %}
            {% include "data_box.html" %}
        {% endwith %}

        {% if note.link %}
            {% with link=note.link %}
                {% include "card_link.html" %}
            {% endwith %}
        {% endif %}
      
    </div>
</div>