<figure class="text-center">
    <blockquote class="blockquote">
      <p>“The single biggest problem in communication is the illusion that it has taken place.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">George Bernard Shaw</cite>
    </figcaption>
</figure>

<figure class="text-center">
  <blockquote class="blockquote">
    <p>“Blessed is the man, who having nothing to say, abstains from giving wordy evidence of the fact.”</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">George Eliot</cite>
  </figcaption>
</figure>

<figure class="text-center" style="margin-bottom: 2%;">
  <blockquote class="blockquote">
    <p>“The exaggeradtedly high value and attachment placed on products that you build yourself,regardless of the end result quality.”</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title"><a href="https://en.wikipedia.org/wiki/IKEA_effect">IKEA Effect</a></cite>
  </figcaption>
</figure>


