<figure class="text-center">
    <blockquote class="blockquote">
      <p>“The single biggest problem in communication is the illusion that it has taken place.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">George Bernard Shaw</cite>
    </figcaption>
</figure>

<figure class="text-center" style="margin-bottom: 2%;">
  <blockquote class="blockquote">
    <p>“Blessed is the man, who having nothing to say, abstains from giving wordy evidence of the fact.”</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">George Eliot</cite>
  </figcaption>
</figure>

<figure class="text-center" style="margin-bottom: 2%;">
  <blockquote class="blockquote">
    <p><a href="https://en.wikipedia.org/wiki/IKEA_effect">IKEA Effect</a></p>
  </blockquote>
</figure>


