<div class="card opacity-{{task.opacity}} {{task.card_class}}" style="margin: 1rem;min-width:15rem;max-width:50%;">
    {% with job=task.job %}
        {% include "card_header.html" %}
    {% endwith %}

    {% if task.data %}
        {% with data = task.data %}
            {% for item in data %}
                {% with title = item.title,description=item.description%}
                    {% include "card_body.html" %}
                {% endwith %}
            {% endfor %}
        {% endwith %}
    {% endif %}

    <div class="card-body">
        {% if task.link %}
            {% with link=task.link %}
                {% include "card_link.html" %}
            {% endwith %}
        {% endif %}
    </div>

    <div class="d-flex justify-content-between card-footer">
        <div class="text-start">
            {{task.date}}
        </div>

        <div class="text-end opacity-50" style="margin-left: 1rem;">
            {% if task.lag_days!=0 %}
                {{task.lag_days}} days
            {% endif %}
            
            {% if task.lag_hours!=0 %}
                {{task.lag_hours}} hours
            {% endif %}
        </div>
    </div>
</div>